body{
    font: normal normal 1.5em/1.6em Arial, Helvetica, sans-serif;
    background:#b8ecfd url("../images/hello.png") no-repeat;
    background-size: contain;
    background-position: 0px 100%;
    background-size: 100%;
    height: 100vh;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body {
        background:#b8ecfd;
    }
}

@media only screen and (max-width: 1024px) {
    /* For irregular screens: */
    body {
        padding-bottom: 70px;
        background:#b8ecfd;
        height: auto;
    }
}

/*Nav starts here------------------------------------------*/

.navbar{
    background-color: #b8ecfd;
    border-bottom: 1px solid #FC626B;
}

.navbar-default .navbar-brand{
    font-size: 2em;
    color: #FC626B;
    background: url("../images/cross.png") padding-box no-repeat left; 
    background-position: 10px 10px;
    background-size: 30px;
    border-bottom: 4px solid #FC626B;
    padding: 20px 40px 40px 60px;
}

.navbar-default .navbar-brand:hover{
    color: #372D93;
}

.navbar-default .navbar-nav>li>a{
    color: #FC626B;
    font-size: 1em;
    margin-top: 10px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color: #372D93;
}

.navbar-toggle{
    padding: 12px;
    border: 0;
    margin-top: 10px;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #FC626B;
}

.navbar-toggle:hover{
    background-color: #FC626B;
}



/*Section starts here------------------------------------------*/

section, aside{
    margin-top: 40px;
}

section{
    border: 5px solid #FC626B;
}

.page-header{
    border-bottom: 0px;
    margin-bottom: 0px;
}

section h1{
    font-size: 2.8em;
    color: #FC626B;
    display: block;
    border-bottom: 2px solid #FC626B;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

section p{
    margin-bottom: 20px;
    color: #FC626B; 
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    section p {
        margin-top: 20px;
    }
}

section{
    margin-top: 20px;
}

section img{
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

/*Sidebar starts here------------------------------------------*/

.panel-title{
    font-size: 1.4em;
    color: #FC626B;
}

aside a{
    float: left;
    width: 33.3%;
    height: 50px;
    display: block;
}

.panel{
    box-shadow: none;
    -webkit-box-shadow:none;
}

.panel-default>.panel-heading{
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #FC626B;
}

.panel-default{
    background-color: transparent;
    border: 0;
}

.github{
    background: url("../images/github_icon.png") padding-box no-repeat center; background-size: contain;
}

.linkedin{
    background: url("../images/linkedin_icon9.png") padding-box no-repeat center; background-size: contain;
}

.stack{
    background: url("../images/stackoverflow_icon.png") padding-box no-repeat center; background-size: contain;
}

aside h3{
    font-size: 1.2em;
    color: #FC626B;
    display: block;
    border-bottom: 1px solid #FC626B;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

/*Form starts here------------------------------------------*/

form{
    padding: 20px;
}

.f_label{
    color: #FC626B;
}

.f_input{
    height: 30px;
    border: 0;
    border-bottom: 1px solid #FC626B;
    background-color: transparent;
    margin-bottom: 20px;
    color: #FC626B; 
    font-size: 0.8em;
    border-radius: 0px;
    padding-left: 1%;
    box-shadow: none;
}

.f_textarea{
    background: none;
    border: 1px solid #FC626B;
    margin-top: 10px;
    color: #FC626B;
    font-size: 0.8em;
    padding: 2%;
    resize: none;
}

input[type=submit]{
    background-color: #FC626B;
    height: 40px;
    margin-top: 30px;
    text-align: center;
    color: #b8ecfd;
    padding: 8px 30px 14px;
    border-radius: 0px;
    border: 0px;
}

input:focus {
    background-color: #FC626B;
    color: #b8ecfd;
}

/*Gallery starts here------------------------------------------*/

.tiles{
    width: 100%;
/*    background-color: #FC626B;*/
    height: 21vh;
    margin-bottom: 20px;
    position: relative;
}

.titles, .print{
    background: url("../images/print.jpg") padding-box no-repeat center; 
    background-size: cover;
}

.titles, .web{
    background: url("../images/web.jpg") padding-box no-repeat top; 
    background-size: cover;
}

.titles, .illustration{
    background: #FC626B url("../images/illustrations.png") padding-box no-repeat center; 
    background-size: cover;
}

.titles, .pack{
    background: #FC626B url("../images/packaging.jpg") padding-box no-repeat bottom; 
    background-size: cover;
}

.tiles h3{
    text-align: center;
    display: block;
    background-color: #FC626B;
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding: 10px 0 10px 0;
    font-size: 1.2em;
}

.tiles h3 a{
    color: #b8ecfd; 
    text-decoration: none;
}


/*Footer starts here------------------------------------------*/

footer{
    width: 100%;
    background-color: #FC626B;
    position: fixed;
    bottom: 0px;
    height: 70px;
    border-top: 5px solid #e0adb9;
}

footer p{
    color: #b8ecfd;
    font-size: 0.8em;
    display: block;
    width: 100%;
    text-align: center;
    padding: 20px 0 0 0;
}
